.certificates {
    padding: 0 42px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 151px;

    &__image {
        display: block;
        border-radius: 10px;

        &:nth-of-type(1) {
            width: 459px;
            height: 361px;
        }

        &:nth-of-type(2) {
            width: 467px;
            height: 361px;
        }

        &:nth-of-type(3) {
            width: 471px;
            height: 364px;
        }

        &:nth-of-type(4) {
            width: 654px;
            height: 399px;
        }

        &:nth-of-type(5) {
            width: 651px;
            height: 399px;
        }
    }
}

@media (max-width: 1230px) {
    .certificates {
        flex-direction: column;
        gap: 15px;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 75px;

        &__image {
            &:nth-of-type(1) {
                width: 100%;
                max-width: 500px;
                height: auto;
            }

            &:nth-of-type(2) {
                width: 100%;
                max-width: 500px;
                height: auto;
            }

            &:nth-of-type(3) {
                width: 100%;
                max-width: 500px;
                height: auto;
            }

            &:nth-of-type(4) {
                width: 100%;
                max-width: 500px;
                height: auto;
            }

            &:nth-of-type(5) {
                width: 100%;
                max-width: 500px;
                height: auto;
            }
        }
    }
}

@media (max-width: 768px) {
    .certificates {
        padding: 0 20px;
    }
}
