.edu {
    margin-bottom: 110px;
    padding: 0 42px;
    
    &__title {
        font-family: "LagunaC";
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        color: var(--green);
        user-select: none;
        margin-bottom: 40px;
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 40px 1fr;
        grid-auto-rows: 1fr;
        row-gap: 20px;
        column-gap: 40px;
        grid-template-areas:
            "i1 line t1"
            "t2 line i2"
            "i3 line t3"
            "t4 line i4";
    }

    &__paragraph {
        align-self: center;
        &:nth-of-type(1) {
            grid-area: t1;
        }

        &:nth-of-type(2) {
            grid-area: t2;
            text-align: right;
        }

        &:nth-of-type(3) {
            grid-area: t3;
        }

        &:nth-of-type(4) {
            grid-area: t4;
            text-align: right;
        }
    }

    &__headlines {
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 6px;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;        
    }

    &__icons {
        display: block;
        align-self: center;       

        &:nth-of-type(1) {
            grid-area: i1;
            justify-self: end;
        }

        &:nth-of-type(2) {
            grid-area: i2;
        }

        &:nth-of-type(3) {
            grid-area: i3;
            justify-self: end;
        }

        &:nth-of-type(4) {
            grid-area: i4;
        }
    }

    &__line {
        grid-area: line;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__points {
        height: 40px;
        width: 40px;
        border: 2px solid var(--green);
        border-radius: 50%;
        font-weight: 600;
        font-size: 20px;
        color: var(--green);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }

    &__dotted {
        width: 0;
        flex-grow: 0.25;
        border-left: 4px dotted var(--green);
    }
}