.footer {
    height: 30px;
    padding: 30px 42px;
    display: flex;
    flex-direction: row;
    gap: 23px;
    align-items: center;

    &__tg {
        width: 30px;
        height: 30px;
    }

    &__email {
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -2%;
    }
}