.header {
    width: 100%;
    padding: 25px 42px 0 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    margin-bottom: 134px;

    &__burger {
        display: none;
    }

    &__nav {
        width: 390px;
        height: 30px;
        border: 1px solid var(--green);
        border-radius: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-grow: 1;
        color: var(--green);
        text-decoration: none;
        font-size: 14px;
        border-radius: 15px;
        font-weight: 500;

        &:hover {
            cursor: pointer;
        }

        &--active {
            background-color: var(--green);
            color: #fff;
        }
    }

    &__register {
        background-color: var(--green);
        width: 142px;
        border: none;
        border-radius: 15px;
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 3px;
        font-weight: 500;

        &:hover {
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 125px;
        min-height: 55px;
        padding: 35px 35px 0 35px;

        &__burger {
            display: block;
            width: 30px;
            height: 2px;
            background-color: var(--green);
            position: relative;
            top: 9px;

            &::before {
                content: '';
                position: absolute;
                top: -10px;
                width: 30px;
                height: 3px;
                background-color: var(--green);
            }

            &::after {
                content: '';
                position: absolute;
                top: 10px;
                width: 30px;
                height: 3px;
                background-color: var(--green);
            }
        }

        &__nav {
            display: none;
        }

        &__register {
            display: none;
        }
    }
}
