.reviews {
    margin-bottom: 137px;
    padding: 0 42px;
    
    &__title {
        font-family: "LagunaC";
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        color: var(--green);
        margin-bottom: 40px;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__block {
        width: 461px;
        height: 616px;
        border-radius: 10px;
        border: 1px solid var(--green);
        padding: 25px;
    }

    &__person {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 35px;
        margin-bottom: 16px;
    }

    &__portrait {
        display: block;
        width: 170px;
        height: 170px;
        object-fit: cover;
        border-radius: 50%;
    }

    &__name {
        color: var(--green);
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 6px;
    }
    
    &__position {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }

    &__video {
        height: 498px;
        background-color: black;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    &__fullname {
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
        color: var(--green);
        margin-bottom: 5px;
    }
}