@font-face {
    font-family: 'Onest';
    src: url('/fonts/Onest-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Onest';
    src: url('/fonts/Onest-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Onest';
    src: url('/fonts/Onest-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'LagunaC';
    src: url('/fonts/LagunaC-Bold.otf');
    font-weight: 700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Onest';
    letter-spacing: -0.02em;
}

:root {
    --white: #f5f3f2;
    --green: #045a5b;
    --black: #02060f;
    --main-background: #fffcf0;
}

body {
    background-color: var(--main-background);
}

.container {
    max-width: 1512px;
    width: 100%;
    margin: 0 auto;
}

.green_text {
    color: var(--green);
}
